<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <!-- Google fonts -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Fable</title>
  </head>
  <body>

    <div id="app">
      <!-- navbar top -->
      <nav class="navbar flex-btw">
        <div class="logo">
          <img src="img/nav-icons/logo.png" alt="logo fable">
        </div>

          <!-- IDEA: implement a v-for loop maybe? -->
        <div class="icons-container flex-center">
          <div class="flex-column active">
            <img src="img/nav-icons/home.png" alt="home">
            <span>Home</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/document.png" alt="pages">
            <span>Pages</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/printer.png" alt="blog">
            <span>Blog</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/cart.png" alt="shop">
            <span>Shop</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/lab.png" alt="shortcodes">
            <span>Shortcodes</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/chat.png" alt="support">
            <span>Support</span>
          </div>
          <div class="flex-column">
            <img src="img/nav-icons/envelope.png" alt="contact">
            <span>Contact</span>
          </div>
        </div>
      </nav>
      <!-- end navbar top -->

      <!-- section 1 -->
      <section class="container-section1 flex-center">
        <!-- <div class="prev flex-center"
             @click="previous">
          <i class="fas fa-angle-left"></i>
        </div> -->

        <!-- IDEA: v-for here? -->

        <div class="content-section1 flex-start">

          <div class="background-icons">
            <img src="img/section1/slider_icon10.png" alt="abc">
            <img src="img/section1/slider_icon14.png" alt="symbol">
            <img src="img/section1/slider_icon11.png" alt="brush">
            <img src="img/section1/slider_icon12.png" alt="train">
            <img src="img/section1/slider_icon13.png" alt="lab">
          </div>


          <div class="welcome font-xl">
            <h4>Friendly Atmosphere</h4>

            <h1>Welcoming Place</h1>
            <h1>For Every Child</h1>
            <button class="uppercase font-xs" type="button">buy this theme now</button>
          </div>

          <div v-for="(image, index) in sliderSection1" class="slider-container">

              <div class="images">
                <img :src="sliderSection1[0]">
              </div>
              <div class="images">
                <img :src="sliderSection1[1]">
              </div>


          </div>

          <!-- <div class="next flex-center"
               @click="next">
            <i class="fas fa-angle-right"></i>
          </div> -->

          <div class="slider-nav flex-center">
            <i v-for="(item, index ) in sliderSection1"
            :class="activeDot(index)"
            @click="clickedDot(index)"></i>
          </div>

        </div>
      </section>
      <!-- end section 1 -->

      <!-- navbar bottom -->
      <nav class="bottom flex-center font-l">

        <div class="content flex-btw">
          <h1>How to Enroll Your Child to a Class?</h1>
          <button type="button" class="font-sm uppercase">learn more<i class="fas fa-angle-right"></i></button>
        </div>

      </nav>
      <!-- end navbar bottom -->

      <!-- section 2 -->
      <section class="container-section2 flex-center">

        <div class="content-section2 font-l flex-column">

            <h1>Welcome to Fable</h1>
            <h6>Fable daycare, preschool, and kindergarten</h6>


            <div class="divider">
              <img src="img/header_divider.png" alt="divider">
            </div>

            <div class="cards-container flex-center">

              <div class="card-content flex-column">
                <div class="icon-container flex-center">
                  <img src="img/section2/schoolbag_alt.png" alt="schoolbag">
                </div>
                <h4>Morbi Etos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="card-content flex-column">
                <div class="icon-container flex-center">
                  <img src="img/section2/stroller_alt.png" alt="stroller">
                </div>
                <h4>Congue Gravida</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="card-content flex-column">
                <div class="icon-container flex-center">
                  <img src="img/section2/globe_alt.png" alt="globe">
                </div>
                <h4>Maecenas Node</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

              <div class="card-content flex-column">
                <div class="icon-container flex-center">
                  <img src="img/section2/bell_alt.png" alt="bell">
                </div>
                <h4>Praesant Morbi</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>

            </div>

          </div>

      </section>
      <!-- end section 2 -->

      <!-- section 3 -->
      <section class="container-section3">

          <div class="content-section3 font-l flex-btw">

            <!-- left box -->
            <div class="left-box">
              <button class="font-sm" type="button">Overview</button>
              <button class="font-sm" type="button">Our Mission</button>

              <h3>Our philosophy is learning through play as we offer a stimulating environment for children.</h3>

              <div class="card-container">
                  <div class="icon-container flex-center">
                    <img src="img/section3/clock_alt.png" alt="clock">
                  </div>

                  <div class="card-info">
                    <h4>Full Day Sessions</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>

              <div class="card-container">
                  <div class="icon-container flex-center">
                    <img src="img/section3/diagram_alt.png" alt="diagram">
                  </div>

                  <div class="card-info">
                    <h4>Varied Classes</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>

            </div>
            <!-- end left box -->

            <!-- right box -->
            <div class="right-box flex-column">

              <div class="slider-container flex-center">

                <div class="prev"
                     @click="previous">
                  <i class="fas fa-angle-left"></i>
                </div>

                <div class="images">
                  <img src="img/section3/gallery_08-690x506.jpg">
                </div>

                <div class="next"
                     @click="next">
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>

              <div class="slider-thumbnails flex-center">
                <img src="img/section3/gallery_08-690x506.jpg">
                <img src="img/section3/gallery_08-690x506.jpg">
                <img src="img/section3/gallery_08-690x506.jpg">
              </div>
              <div class="border"></div>

            </div>
            <!-- end right box -->


          </div>

      </section>
      <!-- end section 3 -->

      <!-- section 4 -->
      <section class="container-section4 flex-center">

        <div class="content-section4 font-l flex-column">
            <h1>Our Classes</h1>
            <h6>Our preschool program has four dedicated classes</h6>
            <div class="divider">
              <img src="img/header_divider.png" alt="divider">
            </div>

            <div class="flex-btw">

              <div class="left-box">
                <h3>We provided four classes with nine to twenty children each aged twelve month to five years of age.</h3>
              </div>

              <div class="right-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>

            </div>

            <div class="table flex-center">

              <div class="card flex-btw">
                <div class="card-info-container flex-column">
                  <div class="card-info-top">
                    <h5>Little Lambs</h5>
                    <span>Class name</span>
                  </div>

                  <div class="card-info-bottom flex-center">
                    <div class="card-info-bottom-left">
                      <h6>12-24</h6>
                      <span>Month olds</span>
                    </div>
                    <div class="card-info-bottom-right">
                      <h6>9</h6>
                      <span>Class size</span>
                    </div>
                  </div>
                </div>

                <img src="img/section4/class_01-690x506.jpg" alt="class 12 to 24 months">

                <button class="font-s" type="button">read more <i class="fas fa-angle-right"></i> </button>

              </div>

              <div class="card flex-btw">
                <div class="card-info-container flex-column">
                  <div class="card-info-top">
                    <h5>Bouncy Bears</h5>
                    <span>Class name</span>
                  </div>

                  <div class="card-info-bottom flex-center">
                    <div class="card-info-bottom-left">
                      <h6>2-3</h6>
                      <span>Year olds</span>
                    </div>
                    <div class="card-info-bottom-right">
                      <h6>12</h6>
                      <span>Class size</span>
                    </div>
                  </div>
                </div>

                <img src="img/section4/class_02-690x506.jpg" alt="class 2-3 year olds">

                <button class="font-s" type="button">read more <i class="fas fa-angle-right"></i> </button>

              </div>

              <div class="card flex-btw">
                <div class="card-info-container flex-column">
                  <div class="card-info-top">
                    <h5>Tenderhearts</h5>
                    <span>Class name</span>
                  </div>

                  <div class="card-info-bottom flex-center">
                    <div class="card-info-bottom-left">
                      <h6>3-4</h6>
                      <span>Year olds</span>
                    </div>
                    <div class="card-info-bottom-right">
                      <h6>15</h6>
                      <span>Class size</span>
                    </div>
                  </div>
                </div>

                <img src="img/section4/class_03-690x506.jpg" alt="class 3-4 year olds">

                <button class="font-s" type="button">read more <i class="fas fa-angle-right"></i> </button>

              </div>

              <div class="card flex-btw">
                <div class="card-info-container flex-column">
                  <div class="card-info-top">
                    <h5>Shining Stars</h5>
                    <span>Class name</span>
                  </div>

                  <div class="card-info-bottom flex-center">
                    <div class="card-info-bottom-left">
                      <h6>4-5</h6>
                      <span>Year olds</span>
                    </div>
                    <div class="card-info-bottom-right">
                      <h6>20</h6>
                      <span>Class size</span>
                    </div>
                  </div>
                </div>

                <img src="img/section4/class_04-690x506.jpg" alt="class 4-5 year olds">

                <button class="font-s" type="button">read more <i class="fas fa-angle-right"></i> </button>

              </div>

            </div>

          </div>

      </section>
      <!-- end section 4 -->

      <!-- section 5 -->
      <section class="container-section5 flex-center">

        <div class="content-section5 font-l">

          <div class="flex-btw">

            <div class="left-box">
            <h3>We have been educating children for over fifteen years. Our goal is to create a place that engages each child.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            <ul>
              <li><i class="far fa-check-square"></i>Comprehensive reporting on individual achievement</li>
              <li><i class="far fa-check-square"></i>Educational field trips and school presentations</li>
              <li><i class="far fa-check-square"></i>Individual attention in a small-class setting</li>
              <li><i class="far fa-check-square"></i>Learning program with after-school care</li>
              <li><i class="far fa-check-square"></i>Opportunities to carry out scientific investigations</li>
              <li><i class="far fa-check-square"></i>Positive learning environment for your child</li>
            </ul>
          </div>

            <div class="right-box">

              <div class="table">

                <div class="cards-container flex-center">

                  <div class="card-content flex-column">
                    <div class="icon-container flex-center">
                      <img src="img/section5/toy.png" alt="train">
                    </div>
                    <h4>Learning & Fun</h4>
                    <p>Praesent modea est gravida node vehicula luctus.</p>
                  </div>

                  <div class="card-content flex-column">
                    <div class="icon-container flex-center">
                      <img src="img/section5/meal.png" alt="meal">
                    </div>
                    <h4>Healthy Meals</h4>
                    <p>Praesent modea est gravida node vehicula luctus.</p>
                  </div>

                  <div class="card-content flex-column">
                    <div class="icon-container flex-center">
                      <img src="img/section5/school.png" alt="school">
                    </div>
                    <h4>Friendly Place</h4>
                    <p>Praesent modea est gravida node vehicula luctus.</p>
                  </div>

                  <div class="card-content flex-column">
                    <div class="icon-container flex-center">
                      <img src="img/section5/shield.png" alt="shield">
                    </div>
                    <h4>Children Safety</h4>
                    <p>Praesent modea est gravida node vehicula luctus.</p>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </section>
      <!-- end section 5 -->

      <!-- section 6 -->
      <section class="container-section6 flex-center">

          <img src="img/section6/gallery_01.jpg" alt="gallery 01">
          <img src="img/section6/gallery_02.jpg" alt="gallery 02">
          <img src="img/section6/gallery_03.jpg" alt="gallery 03">
          <img src="img/section6/gallery_04.jpg" alt="gallery 04">

      </section>
      <!-- end section 6 -->

      <!-- navbar bottom -->
      <nav class="bottom bg flex-center font-l">

        <div class="content flex-btw">
          <h1>See Our Kindergarten Photo Gallery</h1>
          <button type="button" class="font-sm uppercase">view gallery<i class="fas fa-angle-right"></i></button>
        </div>

      </nav>
      <!-- end navbar bottom -->

      <!-- section 7 -->
      <section class="container-section7 font-l">

        <div class="content-section7 flex-column">


        <div class="icon-container flex-center">
          <img src="img/section7/quote_alt.png" alt="quote">
        </div>

        <div class="text-container flex-column">
          <h1>I have to say that I have children ages 5 and 2 and have used various daycare's in Kindergartens and this is by far the very best I have ever used.</h1>
          <h6>Cecil J. Kirk</h6>
        </div>

        <div class="slider-section7 flex-center">
          <i v-for="(item, index ) in sliderSection1"
          :class="activeDot(index)"
          @click="clickedDot(index)"></i>
        </div>


      </div>


      </section>
      <!-- end section 7 -->

    </div>
    <!-- end app -->


    <!-- Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- end Javascript -->

  </body>
</html>
