$bg-section1: "../img/section1/slider_slide1_background.png";
$bg-section2: "../img/section1/slider_slide2_background.png";
$bg-section3: "../img/section1/slider_slide3_background.png";

$bg-bottom: "../img/bg-bottom/pattern.png";

$bg-section7: "../img/section7/parallax_02.jpg";

$orange: #d2405d;
$purple: #554e9e;
