@import "utility";
@import "var";
@mixin container1300 {
  width: 1300px;
  margin: 0 auto;
}
@mixin navbarheight {
  height: 150px;
}
@mixin background-img {
  background-size: contain;
  width: 100%;
  // height: 780px;
}
@mixin button-orange {
  padding: 20px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  @include bg-orange;
}
@mixin button-purple {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  border: 3px solid #fff;
  outline-width: 0;
}
@mixin bg-purple {
  background-color: $purple;
  color: #fff;
}
@mixin bg-orange {
  background-color: $orange;
  color: #fff;
}
@mixin h1 {
  color: $purple;
  font-size: 2em;
}
@mixin h3 {
  font-weight: 600;
  color: $purple;
}
@mixin h4 {
  font-weight: 500;
  color: $purple;
}
@mixin h6 {
  opacity: 0.3;
  font-weight: 700;
}
@mixin p {
  font-size: 0.5em;
  font-weight: 600;
  opacity: 0.6;
}
@mixin divider {
  margin-top: 20px;

  img {
    height: 15px;
  }

}

#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .navbar {
    //top navbar
    @include container1300;
    @include navbarheight;
    // background-color: #d7ac95;
    .logo img {
      @include navbarheight;
    }

    .icons-container {
      // padding: 15px;
      div {
        @include navbarheight;
        align-items: center;
        padding: 0 30px;
      }

      div:hover {
        background-color: #fe6601;
      }
    }
    //end icons container
  }
  //end navbar

  .container-section1 {
    background-image: url($bg-section1);
    @include background-img;
    padding: 50px;
    position: relative;

    .content-section1 {
      position: relative;
      width: 1600px;
      height: 650px;

      .background-icons {
        position: absolute;
        top: 0;
        right: 50%;

        & img:nth-child(2n+2) {
          position: relative;
          top: 60px;
        }
      }

      .welcome {
        @include container1300;
        color: $purple;
        line-height: 2em;

        h1:first-of-type {
          font-weight: 800;
        }

        h4 {
          color: $orange;
          font-family: 'Indie Flower', cursive;
          font-weight: normal;
        }

        button {
          @include button-orange;
        }
      }
      //welcome

      .slider-container {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(10%, -50%);
        display: flex;

        & div:nth-child(2) {
          //rear image
          position: relative;
          right: 170px;
          top: 40px;
          z-index: -1;

          & img {
            height: 80%;
          }
        }

        & img {
          //front image
          height: 700px;
        }
      }
    }
    //content-section1
  }
  //container-section1

  .slider-nav {
    // @include container1300;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);

    .rectangle {
      width: 50px;
      height: 15px;
      color: $orange;
      border: 3px solid $orange;
      margin-right: 10px;
    }
  }
  //end slider bottom section1

  .bottom {
    @include bg-purple;
    @include navbarheight;

    .content {
      font-weight: 300;
      @include container1300;

      button {
        @include button-purple;
        font-weight: 500;

        i {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
  }

  .container-section2 {
    padding: 80px;

    .content-section2 {
      @include container1300;
      text-align: center;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
      }

      .divider {
        @include divider;
      }

      .cards-container {
        margin-top: 50px;

        .card-content {
          padding: 20px;

          .icon-container {
            width: 220px;
            height: 220px;
            border-radius: 50%;
            @include bg-orange;

            img {
              height: 80px;
            }
          }
          //icon container

          h4 {
            padding: 20px 0;
            @include h4;
          }

          p {
            @include p;
          }
        } //card content

      }//cards container

    } //content section 2

  } //container section 2

  .container-section3 {
    padding: 80px;
    background-color: #f8f6f7;

    .content-section3 {
      @include container1300;
      // text-align: left;
      .left-box {
        width: 630px;

        button:first-of-type {
          @include button-orange;
          font-weight: 600;
          padding: 20px 40px;
        }

        button:last-of-type {
          margin-left: 10px;
          outline-width: 0;
          opacity: 0.3;
          font-weight: 600;
          background: none;
          border: none;
          border-bottom: 3px solid lightgrey;
          padding: 20px 40px;
        }

        button:last-of-type:focus {
          @include button-orange;
          opacity: 1;
          padding: 20px 40px;
        }

        h3 {
          @include h3;
          margin: 50px 0;
        }

        .card-container {
          display: flex;
          // flex-flow: column;
          h4 {
            @include h4;
            font-weight: 600;
          }

          p {
            @include p;
            margin: 15px 0;
          }

          .icon-container {
            width: 50px;
            height: 50px;
            padding: 40px;
            border-radius: 50%;
            @include bg-orange;
          }

          .card-info {
            margin-left: 30px;
          }
        }
        //card container
      }
      //left box

      .right-box {
        width: 600px;

        .slider-container {
          .images {
            img {
              height: 444px;
            }
          }
        }

        .slider-thumbnails {
          width: 33.333%;

          img {
            margin: 0 5px;
            width: calc(100% - 5px);
          }
        }
      }
      //right box
    }
  }

  .container-section4 {
    padding: 80px;

    .content-section4 {
      @include container1300;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
      }

      .divider {
        @include divider;
        margin-bottom: 45px;
      }

      .left-box {
        width: 50%;
        margin: 0 45px 45px 0;


        h3 {
          @include h3;
          font-size: 1em;
        }
      }

      .right-box {
        width: 50%;
        margin: 0 0 45px 0;


        p {
          @include p;
          line-height: 1.8em;
        }
      }

      .table {
        flex-wrap: wrap;

        & .card:nth-child(2n+2) {
          margin-left: 45px;
        }

        .card {
          margin-bottom: 45px;
          align-self: center;
          @include bg-purple;
          position: relative;

          .card-info-container {
            line-height: 0.7em;
            height: 220px;
            width: 325px;
            justify-content: space-around;

            .card-info-top {
              text-align: left;
              align-self: flex-start;
              padding-left: 25px;
            }

            .card-info-bottom,
            .card-info-top {
              h5 {
                font-weight: 600;
              }

              span {
                @include p;
              }
            }
            //card info top/bottom

            .card-info-bottom {
              text-align: center;

              h6 {
                font-weight: 500;
                opacity: 1;
              }

              .card-info-bottom-left {
                border-right: 1px solid lightgrey;
                padding-right: 25px;
              }

              .card-info-bottom-right {
                padding-left: 25px;
              }
            }
            //card info bottom
          }
          //card info container

          img {
            height: 220px;
          }

          button {
            @include button-orange;
            position: absolute;
            right: 0;
            bottom: 0;
            font-weight: 600;
            padding: 15px 20px;

            i {
              vertical-align: middle;
            }

          }

        }
        //card
      }
      //table
    } //content section4

  } //container section4

  .container-section5 {
    padding: 80px;
    background-color: #f8f6f7;

    .content-section5 {
      @include container1300;

      .left-box {
        width: 50%;
        padding-right: 20px;

        h3 {
          @include h3;
          font-size: 1em;
        }

        p {
          @include p;
          margin: 45px 0;
        }

        ul {
          @include p;
          line-height: 2.2em;
          opacity: 1;

          li {
            font-weight: 400;

            i {
              font-size: 1.2em;
              padding-right: 15px;
              color: $orange;
            }

          }

        }

      } //left box

      .right-box {
        align-self: flex-start;
        width: 50%;
        padding-left: 20px;

        .table {

          .cards-container {
            flex-wrap: wrap;

            .card-content {
              width: 300px;
              padding: 30px;
              text-align: center;

              .icon-container {
                padding: 30px;
                border-radius: 50%;
                background: white;

              }
              //icon container

              h4 {
                padding: 20px 0;
                @include h4;
              }

              p {
                @include p;
              }
            } //card content

          }//cards container

        }


      } //right-box

    } //content section5

  } //container section5

}
//end app
