@import "utility";
@import "var";
@mixin container1300 {
  width: 1300px;
  margin: 0 auto;
}
@mixin navbarheight {
  height: 150px;
}
@mixin background-img {
  background-size: contain;
  width: 100%;
  // height: 780px;
}
@mixin button {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  outline-width: 0;
}
@mixin button-orange {
  @include button;
  @include bg-orange;
  margin-top: 40px;
  font-weight: 600;
  transition: all 300ms;

  &:hover {
    transition: all 300ms;
    @include button;
    @include bg-purple;
    font-weight: 600;
  }
}
@mixin button-purple {
  @include button;
  @include bg-purple;
  margin-top: 40px;
  font-weight: 600;
  transition: all 300ms;
  border: 3px solid white;

  &:hover {
    transition: all 300ms;
    @include button;
    @include bg-white;
    font-weight: 600;
  }
}
@mixin bg-purple {
  background-color: $purple;
  color: #fff;
}
@mixin bg-orange {
  background-color: $orange;
  color: #fff;
}
@mixin bg-white {
  border: 3px solid white;
  background-color: white;
  color: $purple;
  // padding-right: 20px;
  font-weight: 600;
}
@mixin h1 {
  color: $purple;
  font-size: 2em;
}
@mixin h3 {
  font-weight: 600;
  color: $purple;
}
@mixin h4 {
  font-weight: 500;
  color: $purple;
}
@mixin h6 {
  opacity: 0.3;
  font-weight: 700;
}
@mixin p {
  font-size: 0.5em;
  font-weight: 600;
  opacity: 0.6;
}
@mixin divider {
  margin-top: 20px;

  img {
    height: 15px;
  }

}
@mixin input {
  border-radius: 5px;
  outline-color: $orange;
  border: .1px solid lightgrey;
  width: 100%;
  font-size: .6em;
  opacity: .6;
  font-weight: 600;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .navbar {
    //top navbar
    @include container1300;
    @include navbarheight;
    // background-color: #d7ac95;
    .logo img {
      @include navbarheight;
    }

    .icons-container {
      // padding: 15px;
      div {
        @include navbarheight;
        align-items: center;
        padding: 0 30px;
        transition: all 300ms;
      }

      div:hover {
        @include bg-orange;
        transition: all 300ms;

        img {
          filter: brightness(9);
        }

      }
    }
    //end icons container
  }
  //end navbar

  .container-section1 {
    background-image: url($bg-section1);
    @include background-img;
    padding: 50px;
    position: relative;

    .content-section1 {
      position: relative;
      width: 1600px;
      height: 650px;

      .background-icons {
        position: absolute;
        top: 0;
        right: 50%;

        & img:nth-child(2n+2) {
          position: relative;
          top: 60px;
        }
      }

      .welcome {
        @include container1300;
        color: $purple;
        line-height: 2em;

        h1:first-of-type {
          font-weight: 800;
        }

        h4 {
          color: $orange;
          font-family: 'Indie Flower', cursive;
          font-weight: normal;
        }

        button {
          @include button-orange;
        }

      }
      //welcome

      .slider-container {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(10%, -50%);
        display: flex;

        & div:nth-child(2) {
          //rear image
          position: relative;
          right: 170px;
          top: 40px;
          z-index: -1;

          & img {
            height: 80%;
          }
        }

        & img {
          //front image
          height: 700px;
        }
      }
    }
    //content-section1
  }
  //container-section1

  .slider-nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);

    .rectangle {
      width: 50px;
      height: 15px;
      color: $orange;
      border: 3px solid $orange;
      margin-right: 10px;
    }
  }// slider nav

  .bottom {
    @include bg-purple;
    @include navbarheight;

    .content {
      font-weight: 300;
      @include container1300;

      button {
        @include button-purple;

        i {
          // vertical-align: middle;
          margin-left: 10px;
        }

      }
    }
  }

  .bg {
    background-image: url($bg-bottom);
  }

  .container-section2 {
    padding: 80px;

    .content-section2 {
      @include container1300;
      text-align: center;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
      }

      .divider {
        @include divider;
      }

      .cards-container {
        margin-top: 50px;

        .card-content {
          padding: 20px;

          .icon-container {
            width: 220px;
            height: 220px;
            border-radius: 50%;
            @include bg-purple;


            img {
              height: 80px;
            }
          } //icon container

          &:nth-child(2n+1) {

            .icon-container{
              @include bg-orange;
            }

          }

          h4 {
            padding: 20px 0;
            @include h4;
          }

          p {
            @include p;
          }
        } //card content

      }//cards container

    } //content section 2

  } //container section 2

  .container-section3 {
    padding: 80px;
    background-color: #f8f6f7;

    .content-section3 {
      @include container1300;
      // text-align: left;
      .left-box {
        width: 630px;

        button:first-of-type {
          @include button-orange;
        }

        button:last-of-type {
          padding: 15px 25px;
          margin-left: 10px;
          outline-width: 0;
          opacity: 0.3;
          font-weight: 600;
          background: none;
          border: none;
          border-bottom: 3px solid lightgrey;
        }

        button:last-of-type:focus {
          @include button-orange;
          opacity: 1;
        }

        h3 {
          @include h3;
          margin: 50px 0;
        }

        .card-container {
          display: flex;

          h4 {
            @include h4;
            font-weight: 600;
          }

          p {
            @include p;
            margin: 15px 0;
          }

          .icon-container {
            width: 50px;
            height: 50px;
            padding: 40px;
            border-radius: 50%;
            @include bg-orange;
          }

          .card-info {
            margin-left: 30px;
          }
        }
        //card container
      }
      //left box

      .right-box {
        width: 600px;

        .slider-container {
          .images {
            img {
              height: 444px;
            }
          }
        }

        .slider-thumbnails {
          width: 33.333%;

          img {
            margin: 0 5px;
            width: calc(100% - 5px);
          }
        }
      }
      //right box
    }
  }

  .container-section4 {
    padding: 80px;

    .content-section4 {
      @include container1300;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
      }

      .divider {
        @include divider;
        margin-bottom: 45px;
      }

      .left-box {
        width: 50%;
        margin: 0 45px 45px 0;


        h3 {
          @include h3;
          font-size: 1em;
        }
      }

      .right-box {
        width: 50%;
        margin: 0 0 45px 0;


        p {
          @include p;
          line-height: 1.8em;
        }
      }

      .table {
        flex-wrap: wrap;

        & .card:nth-child(2n+2) {
          margin-left: 45px;
        }

        .card {
          margin-bottom: 45px;
          align-self: center;
          @include bg-purple;
          position: relative;

          .card-info-container {
            line-height: 0.7em;
            height: 220px;
            width: 325px;
            justify-content: space-around;

            .card-info-top {
              text-align: left;
              align-self: flex-start;
              padding-left: 25px;
            }

            .card-info-bottom,
            .card-info-top {
              h5 {
                font-weight: 600;
              }

              span {
                @include p;
              }
            }
            //card info top/bottom

            .card-info-bottom {
              text-align: center;

              h6 {
                font-weight: 500;
                opacity: 1;
              }

              .card-info-bottom-left {
                border-right: 1px solid lightgrey;
                padding-right: 25px;
              }

              .card-info-bottom-right {
                padding-left: 25px;
              }
            }
            //card info bottom
          }
          //card info container

          img {
            height: 220px;
          }

          button {
            @include button-orange;
            position: absolute;
            bottom: 0;
            right: 0;

            i {
              margin-left: 10px;
            }

          }

        }
        //card
      }
      //table
    } //content section4

  } //container section4

  .container-section5 {
    padding: 80px;
    background-color: #f8f6f7;

    .content-section5 {
      @include container1300;

      .left-box {
        width: 50%;
        padding-right: 20px;

        h3 {
          @include h3;
          font-size: 1em;
        }

        p {
          @include p;
          margin: 45px 0;
        }

        ul {
          @include p;
          line-height: 2.2em;
          opacity: 1;

          li {
            font-weight: 400;

            i {
              font-size: 1.2em;
              padding-right: 15px;
              color: $orange;
            }

          }

        }

      } //left box

      .right-box {
        align-self: flex-start;
        width: 50%;
        padding-left: 20px;

        .table {

          .cards-container {
            flex-wrap: wrap;

            .card-content {
              width: 300px;
              padding: 30px;
              text-align: center;

              .icon-container {
                padding: 30px;
                border-radius: 50%;
                background: white;

              }
              //icon container

              h4 {
                padding: 20px 0;
                @include h4;
              }

              p {
                @include p;

              }
            } //card content

          }//cards container

        }


      } //right-box

    } //content section5

  } //container section5

  .container-section6 {
    // width: calc(100% / 4);
    width: 100%;


    .overlay {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;

      img {
        width: 100%;
      }

      &:hover {

      .plus {
        transition: all 300ms;
        position: absolute;
        padding: 40px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include bg-purple;
        opacity: .5;
        cursor: pointer;

        img {
          vertical-align: middle;
        }

      }


      } //plus

    } // overlay

  } //container section 6

  .container-section7 {
    padding: 80px;
    width: 100%;
    background-image: url($bg-section7);
    background-repeat: no-repeat;
    background-size: cover;

    .content-section7 {
      @include container1300;
      position: relative;

      .icon-container {
        padding: 30px;
        border: 2px solid white;
        border-radius: 50%;
      }

      .text-container {
        margin: 25px 0;
        text-align: center;

        h1 {
          font-size: 1.4em;
          color: white;

          &::after {
            content: '';
            display: inherit;
            width: 50px;
            border-bottom: 1px solid white;
            margin: 25px auto;
          }
        }

        h6 {
          color: white;
          font-weight: 500;
        }

      } //text container

      .slider-section7 {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);

        .rectangle {
          width: 50px;
          height: 15px;
          background-color: none;
          border: 3px solid white;
          margin-right: 10px;
        }

      }

    } //content section 7

  } //container section 7

  .container-section8 {
    padding: 80px;

    .content-section8 {
      @include container1300;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
      }

      .divider {
        @include divider;
        margin-bottom: 45px;
      }

      .cards-container {

        & .card:nth-child(2) {
          margin: 0 40px;
        }

        .card {
          align-items: flex-start;
          width: calc(100% / 3);
          line-height: 1em;

          h5 {
            @include p;
            opacity: .3;
            font-size: .7em;
          }

          .img-container {
            position: relative;
            margin: 25px 0;

            img {
              width: 100%;
            }

            .number {
              @include bg-orange;
              position: absolute;
              right: 0;
              bottom: 4px;
              padding: 8px 10px;

              h3 {
                font-weight: 600;
              }
            }
          }

          h4 {
            @include h4;
          }

          p {
            @include p;
            padding-top: 25px;

            span {
              opacity: .4;
              font-size: 1em;
              font-weight: 600;
            }

            &::after {
              content: '';
              display: inherit;
              width: 100%;
              border-bottom: 1px solid lightgrey;
              margin-top: 25px;
            }

          }

          .bottom-text {

            & i:nth-child(1n+1) {
              margin-right: 15px;
            }

            & h6:first-of-type {
              margin-right: 30px;
            }

            h6 {
              font-size: .5em;
              font-weight: 400;
            }

          }

        } //card


      } //cards container

      button {
        margin-top: 55px;
        @include button-orange;

        i {
          padding-left: 15px;
          font-size: 1.3em;
          vertical-align: middle;
        }
      }

    } //content section 8

  } //container section 8

  .container-section9 {
    padding: 80px 0;

    .map {
      width: 100%;
      position: relative;

      iframe {
        width: 100%;
        height: 450px;
      }

      .route {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 320px;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border-radius: 5px;
        background-color: white;

        & div:first-child {
          padding-left: 10px;
          align-items: flex-start;

          h4 {
            font-weight: 600;
          }

          h5 {
            padding: 5px 0;
          }

        }

        & div:last-child {
          align-self: flex-start;
          padding: 15px;
          cursor: pointer;

          img {
            height: 20px;
          }
        }

        span {
          color: #1A73E8;
          font-size: .8em;
          font-weight: 600;
        }


      }

    }


  }

  .container-footer {

    .content-footer {
      padding-bottom: 80px;
      @include container1300;

      h1 {
        @include h1;
      }

      h6 {
        @include h6;
        padding: 10px 0;
      }

      .divider {
        @include divider;
        margin-bottom: 45px;
      }

      .cards-container {
        width: 100%;
        margin-bottom: 30px;

        .card {
          width: 300px;
          // padding: 30px;
          text-align: center;
          line-height: 1em;

          h4 {
            padding: 20px 0;
            @include h4;
          }

          p {
            @include p;
            font-size: .6em;

            a {
              font-weight: 600;
            }
          }

        } //card

      } //cards container

      form {
        margin-top: 40px;
        width: 100%;
        flex-wrap: wrap;

        .left-side {
          width: 45%;
          height: 255px;
          justify-content: space-between;

          input {
            @include input;
            margin-right: 20px;
            padding: 15px;

          }
        }

        .right-side {
          width: 45%;

          input {
            @include input;
            margin-left: 20px;
            padding: 15px 0 210px 15px;

          }
        }

        button {
          @include button-orange;

        }
      }



    } // content footer

  } //container footer



}
//end app
